.login-dark {
  background: url("../../img/1.jpg"), #ffffff;
  background-size: cover, auto;
}

.login-dark form {
  max-width: 350px;
  width: 90%;
  background-color: #1e2833;
  padding: 40px;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  box-shadow: 3px 3px 4px rgba(0,0,0,0.2);
}

.login-dark .illustration {
  text-align: center;
  padding: 15px 0 20px;
  font-size: 100px;
  color: #2980ef;
}

.login-dark form .form-control {
  background: none;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: white;
  font-family: VT323, monospace;
  border-style: none;
  border-bottom: 1px none #434a52 ;
  height: 29px;
  font-size: 19px;
  padding: 4px 12px;
}

.login-dark form .btn-primary {
  background: transparent;
  padding: 11px;
  box-shadow: none;
  margin-top: 26px;
  text-shadow: none;
  outline: none;
  color: green;
  border: 2px dashed green ;
}

.login-dark form .btn-primary:hover {
  background: green;
  outline: none;
}

.login-dark form .forgot {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #6f7a85;
  opacity: 0.9;
  text-decoration: none;
}

.login-dark form .forgot:hover, .login-dark form .forgot:active {
  opacity: 1;
  text-decoration: none;
}

.login-dark form .btn-primary:active {
  transform: translateY(1px);
}

.typing, h1 {
  overflow: hidden;
  font-family: 'VT323';
  color: #ffffff;
  font-size: 21px;
  border-right: .15em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

.typing h1 {
  overflow: hidden;
  border-right: .15em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

.span-console{
  font-size: 19px;
  height: 30px;
  font-family: VT323,monospace;
  color: orange;
  letter-spacing: 1px;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

.main-title_small {
  font-size: 18px;
  color: rgb(255,255,255);
}

.footer-link {
  color: #ffffff;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
